<!DOCTYPE html>
<html>
   <head></head>
   <body style="padding: 20px;">
      <div class="Wrapper">
         <h2><span class="title">Career With Us</span></h2>
         <div>
            <div class="Normal">
				<h4>Asp.Net Master</h4>
				<p>
					A master coder with Asp.Net – can convert requirements to actual applications. Has created client side optimized web apps using their excellent
				knowledge of Html, Css, JavaScript/jQuery. Web services and AJAX are common words in their vocabularies. For more details and post your resume online
				visit <a href="https://www.toshalinfotech.com/Careers/ASPNet-Master">here</a>.
				</p>
				<hr>
				<h4>CMS/PHP Master</h4>
				<p>
					A master coder with PHP – can quickly understand 3<sup>rd</sup> party code quickly and make required changes. Knows common PHP CMS like Joomla
				and Wordpress. Person with basic knowledge of Drupal will be preferred. For more details and post your resume online visit <a href="https://www.toshalinfotech.com/Careers/PHP-Master">here</a>.
				</p>
				<hr>
				<h4>Web designer</h4>
				<p>
					A Photoshop designer with excellent knowledge of html. Knows how to slice images that can be used in CSS and provide html that a developer can use.
				For more details and post your resume online visit <a href="https://www.toshalinfotech.com/Careers/HTML-Master">here</a>.
				</p>
				<hr>
				<h4>Tester / QA</h4>
				<p>
					A Tester / QA with excellent knowledge of analytical skills. Knows how to create Test Plan, performing Test efforts estimation with good understanding of black box/ white box testing methodologies.
				For more details and post your resume online visit <a href="https://www.toshalinfotech.com/Careers/Tester">here</a>.
				</p>
            </div>
         </div>
         <div class="clearfix"></div>
      </div>
   </body>
</html>