<!DOCTYPE html>
<html>
<head></head>
<body style="padding: 20px;">
    <div>
        <div>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td width="30%">
                        <div class="logo"></div>
                    </td>
					<td>
                        <p class="Normal">
							Toshal Infotech is best known for its Creativity, Design, Website, Mobile and Software Development. With an innovative, creative and pragmatic approach, software development at no less than an exciting and engaging process. We have an in-built knack for delivering high-performance websites, mobile and software applications - of all size and complexities. In more simple terms, we make compelling products that scale to your business needs. 
							<br/><br/>
							To make this possible, Toshal Infotech has a highly qualified in-house team of developers who retain deep domain expertise in their niches and excel at delivering the best, top-of-the-class solutions and products to a wide client base across the globe. We allot a dedicated team to work with you so that we have a better understanding about what you need and why. These insights are useful in driving development and allow us to create a perfect working digital solution for your business. As a value-added advantage, each finalized Toshal Infotech project is backed by expert implementation and deployment using the latest, cutting-edge technologies.
							<br/><br/>
							We help you in the following manner
							<br/><br/>
							Application Software Designing, Development and Implementation to reduce your burden of manual work and save your time
							By introducing our eCommerce software you can do Global Business and can convert your company into a well-recognized Brand
							Website Development and Implementation to introduce the company to the World Wide Web
							Our software is made to be self-explanatory and easily understandable, if needed, we also offer assistance through customer support
							Our Thinking - CUSTOMER TIME IS PRECIOUS AND SO WE VALUE IT THE MOST
							Our Motto - SAVE CUSTOMER TIME AND DELIVER 100% SATISFACTION
						</p>
                    </td>
                </tr>
				<tr>
                    <td colspan="2">
                        <p class="Normal">
							<span style="font-size: 20px !important;">The Opportunity</span><br/><br/>
							Here at Toshal Infotech, we are looking for people who solve challenges. We do not have ordinary people working on ordinary projects. We are always in search for that “Extra” tag in every aspect. Toshal Infotech is the land of Opportunity for the Enthusiastic. So, If you are ambitious. If you are motivated. You want to work on cutting edge projects. You prefer the we to the I. You are not afraid of change. You are not afraid of challenges. You have a true passion for what you do. You have dreams and you want to make them a reality. You hate mediocrity. You love Dilbert, but you hate working in Dilbert's company.

							You have always wanted to work in a great company. A company without politics. A company with a streamlined process. A place where people are just as smart as you. A place where everyone is relaxed. A place without a strict dress code. A place with nice people. A place where people care about their work and about customers. A company where you can give life to your ideas and make an impact. A place where you are happy to spend a great deal of your day. A place where you are happy to learn and to teach. A company where you are valued. A company where you feel you belong. Then, Toshal Infotech welcomes you to join the team of talented "Idooer's".
						</p>
                    </td>
                </tr>
				<tr>
                    <td colspan="2">
                        <p class="Normal">
							<span style="font-size: 20px !important;">Other Positions</span><br/><br/>
							Independently from our current openings we are always on the lookout for talented people and you are welcome to send your inquiries to careers@toshalinfotech.com.
						</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
