@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @using (Html.BeginForm("DownloadPDF", "Home", FormMethod.Post))
    {
        <input type="submit" name="DownloadPdf" value="Download Pdf" />
    }
</div>
